html {
  color-scheme: light only;
}

body {
  max-width: 32em;
  margin: 2em auto;
  padding: 0 1em 4em;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.version {
  margin: 0;
  font-size: 0.8em;
  color: #666;
}

.version a {
  color: inherit;
}

pre {
  overflow: auto;
}

#spec-body tr {
  cursor: pointer;
}

#spec-body tr[data-on] {
  background: #eee;
}
